#Lesson 1

In [ ]:
# Display the fourth element of
# the following list using print()

prime_numbers = [2, 3, 5, 7, 11]

print(prime_numbers[3])

7

In [ ]:
# Add one name to friends_list using append

friends_list = ["Tommy", "Isabel", "Daniel", "Otto"]

friends_list.append("Peter")

print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'Peter']

In [ ]:
print([i for i in dir(friends_list) if "__" not in i ])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(f'''
{i for i in dir(friends_list) if '__' not in i }
''')

<generator object <genexpr> at 0x7923c9418040>

#Lesson 2

In [ ]:
# In the following code, remove the country
# that is not in South America

countries_in_south_america = ["Colombia", "Peru",
                              "Brasil", "Japan",
                              "Argentina"]
countries_in_south_america.remove("Japan")

print(countries_in_south_america)

['Colombia', 'Peru', 'Brasil', 'Argentina']

#Lesson 3

In [ ]:
### Download helper_function.py
# * Set Secrets Variable for Gemini
# * `GEMINI_API_KEY`

!curl -o helper_functions.py https://raw.githubusercontent.com/panaversity/learn-cloud-native-modern-ai-python/main/04_natural_language_programming/02_ai_python_for_beginners/course1_basics/Lesson_9/helper_functions.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  3944  100  3944    0     0  11965      0 --:--:-- --:--:-- --:--:-- 11987

In [ ]:
from helper_functions import print_llm_response, get_llm_response

In [ ]:
# Fix the following code.
# It should print the flavors in
# ice_cream_flavors one by one.

ice_cream_flavors = ["Chocolate", "Mint Chocolate Chip"]

### EDIT THE FOLLOWING CODE ###
for flavor in ice_cream_flavors:

    print(flavor)
### --------------- ###

Chocolate
Mint Chocolate Chip

In [ ]:
# Translate the flavors in ice_cream_flavors to Spanish
ice_cream_flavors = ["Vanilla", "Strawberry"]

for flavor in ice_cream_flavors:
    ### EDIT THE FOLLOWING CODE ###
    #Hint: you only need to add one or two sentences to the prompt
    prompt = f"""For the ice cream flavor listed below,{ice_cream_flavors} translate into spanish

    """
    ### --------------- ###
    print_llm_response(prompt)

* **Vanilla:** Vainilla
* **Strawberry:** Fresa (or Fresas, if referring to more than one strawberry)

* **Vanilla:** Vainilla
* **Strawberry:** Fresa (or Frutilla, depending on the region.  Fresa is more common)

In [ ]:
# Write code to get a list with
# words without typos

words_with_typos = ["Aple", "Wether", "Newpaper"]
words_without_typos = []

for word in words_with_typos:
    prompt = f"""Fix the spelling mistake in the following word: {words_with_typos}
    Provide only the word and add it to this list {words_without_typos}.
    """
    correct_word = get_llm_response(prompt)


print(words_without_typos)
print(correct_word)

[]
['Apple', 'Whether', 'Newspaper']

##  Dictionary

In [ ]:
data : list[str] = ["a","b","c",4] # list

data1 : tuple[str] = ("x","y","z") # tuple
data2 : set[int] = {1,2,3,4,2,2,'2','2'} # set

print(data)
print(data1)
print(data2)

['a', 'b', 'c', 4]
('x', 'y', 'z')
{1, 2, 3, 4, '2'}

#Lessoon 4

In [ ]:
# Check whether Isabel is older
# than at least one of my friends (Tommy and Daniel)
isabel_age = 28
daniel_age = 30
otto_age = 29
tommy_age = 27
### EDIT THE FOLLOWING CODE ###
# Hint: Replace the "?" with the correct comparison operator
is_isabel_older_than_tommy = isabel_age > tommy_age
is_isabel_older_than_daniel = isabel_age > daniel_age
### --------------- ###

### EDIT THE FOLLOWING CODE ###
#Hint: Recall the logical operators "and" and "or"
print(f"Isabel is the oldest among her friends: {is_isabel_older_than_tommy and is_isabel_older_than_daniel }")
### --------------- ###

Isabel is the oldest among her friends: False

#Lesson 7

In [ ]:
# Parameters
def greet(name: str):
  hello = f"Hello {name}"
  return hello

greet('Sultan')

'Hello Sultan'

In [ ]:
def add(x: int, y: int) -> int:
  return x + y

add(2,4)

6

# Creating a shopping mall checkout counter

In [ ]:
def add_all(*nums) -> int:
  return sum(nums)

def apply_discount(price: int, discount: float) -> int:
  return price - price*discount / 100

In [ ]:
total_price = add_all(1000,2000,344)
discount = apply_discount(total_price, 100)
print(discount)

0.0

In [ ]:
def apply_discount(price: int):

  discount : float = 0
  print(f'Initial Discount: {discount}')
  if price <= 10000:
    print('Discount applied catagory "A"')
    discount = 30
  elif price <= 15000:
    print('Discount applied catagory "B"')
    discount = 45
  else:
    print('Discount applied catagory "C"')
    discount = 55

  print(f'Your final applicable discount is {discount}')
  return price - price*discount / 100

In [ ]:
total_price = add_all(1000,2000,344)
discount = apply_discount(total_price)
print(discount)

Initial Discount: 0
Discount applied catagory "A"
Your final applicable discount is 30
2340.8

In [ ]:
# tax calculation
def calculate_tax(gross_total: int, tax_rate: float = 17) -> float:
  return gross_total + gross_total*tax_rate / 100

In [ ]:
calculate_tax(discount)

2738.7360000000003

In [ ]:
def checkout(*nums: int)-> int:
  total_price = add_all(*nums)
  discount = apply_discount(total_price)
  return f'Gross:{discount} /n net amount:{calculate_tax(discount)}'

In [ ]:
checkout(100)

Initial Discount: 0
Discount applied catagory "A"
Your final applicable discount is 30

'Gross:70.0 /n net amount:81.9'

#Lesson 7

*   \* collects **values** into a tuple.
    
*   \*\* collects **key-value pairs** into a dictionary.

In [ ]:
def movie_info(title, *actors, **directors):
    print(f"Movie: {title}")
    print("Actors:", actors)
    print("Directors:", directors)

movie_info("Inception", "Leonardo DiCaprio", "Joseph Gordon-Levitt", Nolan="Director")

Movie: Inception
Actors: ('Leonardo DiCaprio', 'Joseph Gordon-Levitt')
Directors: {'Nolan': 'Director'}

In [ ]:
class Animal:
    def __init__(self, name, sound):
        self.name = name
        self.sound = sound

    def make_sound(self):
        print(f"{self.name} goes {self.sound}")

    def __repr__(self):
        return f"Animal(name='{self.name}', sound='{self.sound}')"

    def __str__(self):
        return f"This is a {self.name} that goes '{self.sound}'!"

    def __add__(self, other):
        return Animal(self.name + "-" + other.name, self.sound + "-" + other.sound)

# Let's create some animals!
lion = Animal("Lion", "Roar")
tiger = Animal("Tiger", "Growl")

# See their representations
print(repr(lion))  # Output: Animal(name='Lion', sound='Roar')
print(lion)        # Output: This is a Lion that goes 'Roar'!

# Combine them!
liger = lion + tiger
print(liger)       # Output: This is a Lion-Tiger that goes 'Roar

Animal(name='Lion', sound='Roar')
This is a Lion that goes 'Roar'!
This is a Lion-Tiger that goes 'Roar-Growl'!